@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --bg-light: #ffffff;
    --bg-dark: #1f2937;

  }
  
  body {
    background-color: var(--bg-light);
  }
  
  .dark body {
    background-color: var(--bg-dark);
  }